main {
  margin-top: 1rem;
}

.p-5 h1 {
  color: bisque;
  text-align: center;
}

.form-label {
  color: bisque;
}

.p-5 h2,
.p-5 h3,
.p-5 h6 {
  color: bisque;
}

.about {
  display: flex;
  flex-direction: column;
}
.textDiv {
  border: 1px solid bisque;
  background-color: bisque;
}
.about div {
  color: black;
  font-size: 24px;
}
